Repository ljcljc/mutopia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(account): 为个人信息卡片组件添加 groomer 模式支持
  src/components/account/PersonalInfoCard.tsx
  src/modules/groomer/pages/GroomerAccountPage.tsx
Due: none

feat(icon): 添加新的图标资源并更新图标组件
  src/assets/icons/icon-credit.svg
  src/assets/icons/icon-out-link.svg
  src/assets/icons/icon-star-2.svg
  src/assets/icons/icon-target.svg
  src/components/common/Icon.tsx
Due: none

feat(account-center): 添加服务区域管理功能并优化UI组件
  src/assets/icons/icon-target.svg
  src/components/account-center/PayoutCard.tsx
  src/components/account-center/PerformanceBenefitItem.tsx
  src/components/account-center/SimpleListCard.tsx
  src/components/account-center/index.ts
  src/components/account-center/theme.ts
  src/components/common/Icon.tsx
  src/modules/groomer/components/AddServiceAreaModal.tsx
  src/modules/groomer/pages/GroomerAccountPage.tsx
Due: eslint --fix, prettier --write

feat(account-center): 添加性能层级配置和图标支持
  src/assets/icons/icon-dot.svg
  src/assets/icons/icon-star-3.svg
  src/components/account-center/PerformanceBenefitItem.tsx
  src/components/account-center/SimpleListCard.tsx
  src/components/account-center/types.ts
  src/components/common/Icon.tsx
  src/modules/groomer/pages/GroomerAccountPage.tsx
Due: eslint --fix, prettier --write

feat(account-center): 添加右侧图标点击事件和可选属性支持
  src/components/account-center/SimpleListCard.tsx
  src/components/account-center/types.ts
  src/components/ui/dialog.tsx
  src/modules/groomer/components/AddServiceAreaModal.tsx
  src/modules/groomer/pages/GroomerAccountPage.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

feat(account-center): 添加银行图标并更新支付卡组件
  src/assets/icons/icon-bank.svg
  src/components/account-center/PayoutCard.tsx
  src/components/common/Icon.tsx
Due: none

style(booking): Normalize Tailwind utility tokens
  src/components/booking/ProgressSteps.tsx
  src/components/booking/Step1AddressAndServiceType.tsx
  src/components/booking/Step3.tsx
  src/components/booking/Step4.tsx
  src/components/booking/Step6.tsx
  src/pages/Booking.tsx
  src/pages/PaymentFail.tsx
  src/pages/PaymentSuccess.tsx
Due: none

style(account): Normalize Tailwind utility tokens
  src/components/account/AddressesCard.tsx
  src/components/account/PageHeader.tsx
  src/components/account/PaymentMethodCard.tsx
  src/components/account/dashboard/DashboardBookingCard.tsx
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/components/account/dashboard/DashboardMembershipCard.tsx
  src/components/account/dashboard/DashboardMyPetsCard.tsx
  src/pages/account/AddPet.tsx
  src/pages/account/BookingDetail.tsx
  src/pages/account/MyAccount.tsx
  src/pages/account/Notifications.tsx
Due: none

style(account): Normalize more Tailwind utility tokens
  src/components/account/dashboard/DashboardMyCreditCard.tsx
  src/components/account/dashboard/DashboardShareAndEarnCard.tsx
  src/pages/account/MemorializedPets.tsx
  src/pages/account/MyPets.tsx
Due: none

style(account): Normalize modal and card utility tokens
  src/components/account/ChangePasswordModal.tsx
  src/components/account/ModifyAddressModal.tsx
  src/components/account/ModifyPersonalInfoModal.tsx
  src/components/account/PersonalInfoCard.tsx
  src/components/account/ShareAndEarnCard.tsx
  src/components/account/dashboard/DashboardBookingCard.tsx
Due: none

style(account): Normalize dashboard layout utility tokens
  src/pages/account/Dashboard.tsx
Due: none

style(account): Normalize dashboard card utility tokens
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/components/account/dashboard/DashboardMyPetsCard.tsx
Due: none

style(account): Normalize notification utility tokens
  src/pages/account/Notifications.tsx
Due: none

style(account): Normalize booking detail utility tokens
  src/pages/account/BookingDetail.tsx
Due: none

style(account): Normalize my pets utility tokens
  src/pages/account/MyPets.tsx
Due: none

style(account): Normalize membership utility tokens
  src/components/account/MembershipCard.tsx
  src/components/account/dashboard/DashboardMembershipCard.tsx
Due: none

style(account): Normalize pet page utility tokens
  src/pages/account/AddPet.tsx
  src/pages/account/MemorializedPets.tsx
Due: none

style(account): Normalize address modal utility tokens
  src/components/account/AddAddressModal.tsx
Due: none

style(account-center): Normalize utility tokens
  src/components/account-center/InfoEntryRow.tsx
  src/components/account-center/PayoutCard.tsx
  src/components/common/AutoComplete.tsx
Due: none

style(payment): Normalize status page utility tokens
  src/pages/PaymentFail.tsx
  src/pages/PaymentSuccess.tsx
Due: none

feat(groomer): 添加performance页面
  src/assets/icons/icon-star-2.svg
  src/components/common/CustomInput.tsx
  src/modules/groomer/components/PerformanceRadarChart.tsx
  src/modules/groomer/layout/GroomerLayout.tsx
  src/modules/groomer/pages/GroomerAccountPage.tsx
  src/modules/groomer/pages/GroomerPerformancePage.tsx
  src/modules/groomer/routes.tsx
Due: none

feat(groomer): 更新性能雷达图表样式和交互
  src/modules/groomer/components/PerformanceRadarChart.tsx
  src/modules/groomer/pages/GroomerAccountPage.tsx
  src/modules/groomer/pages/GroomerPerformancePage.tsx
Due: none

feat(groomer): 添加性能雷达卡片展开收起动画效果
  src/modules/groomer/pages/GroomerPerformancePage.tsx
Due: none

feat(groomer): 添加报告评论模态框和自定义按钮组件
  src/modules/groomer/components/GroomerLinkButton.tsx
  src/modules/groomer/components/GroomerPrimaryActionButton.tsx
  src/modules/groomer/components/ReportReviewModal.tsx
  src/modules/groomer/pages/GroomerPerformancePage.tsx
Due: none

feat(Calendar): 添加紧凑变体样式并支持点击关闭选择器
  src/components/common/Calendar.tsx
  src/hooks/useScrollLock.ts
  src/modules/groomer/components/earnings/CustomRangeModal.tsx
  src/modules/groomer/components/earnings/RecentTransactionItem.tsx
  src/modules/groomer/components/earnings/RevenueBreakdownItem.tsx
  src/modules/groomer/components/earnings/TimeframeSelectorDialog.tsx
  src/modules/groomer/components/earnings/utils.ts
  src/modules/groomer/pages/GroomerEarningsPage.tsx
Due: eslint --fix, prettier --write

feat(calendar): 添加日期范围选择功能
  src/components/common/Calendar.tsx
  src/modules/groomer/components/earnings/CustomRangeModal.tsx
  src/modules/groomer/components/earnings/utils.ts
  src/modules/groomer/pages/GroomerEarningsPage.tsx
Due: eslint --fix, prettier --write

feat(groomer): 添加收入页面空状态组件并实现条件渲染
  src/modules/groomer/components/earnings/EarningsEmptyState.tsx
  src/modules/groomer/pages/GroomerEarningsPage.tsx
Due: none

feat(groomer): 添加历史详情模态框组件
  src/modules/groomer/components/HistoryDetailsModal.tsx
  src/modules/groomer/pages/GroomerMyWorkPage.tsx
Due: none

fix(groomer): 统一页面顶部内边距样式
  src/modules/groomer/pages/GroomerAccountPage.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/modules/groomer/pages/GroomerEarningsPage.tsx
  src/modules/groomer/pages/GroomerMenuPage.tsx
  src/modules/groomer/pages/GroomerMyWorkPage.tsx
Due: none

feat(groomer): 添加美容师仪表板页面和相关组件
  src/modules/groomer/components/BookingRequestContent.tsx
  src/modules/groomer/components/GroomerUpNextCard.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/modules/groomer/pages/GroomerMyWorkPage.tsx
Due: none

feat(groomer): 更新美容师仪表板页面中的每日目标进度卡片UI
  src/modules/groomer/pages/GroomerDashboardPage.tsx
Due: none

feat(dialog): 添加滚动锁定控制和自定义遮罩层支持
  src/components/ui/dialog.tsx
  src/components/ui/select.tsx
  src/modules/groomer/components/BookingRequestContent.tsx
  src/modules/groomer/components/PassAppointmentModal.tsx
  src/modules/groomer/components/ProposeNewTimeModal.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/modules/groomer/pages/GroomerMyWorkPage.tsx
  src/styles/globals.css
Due: prettier --write

feat(api): 更新OpenAPI规范添加预订删除和客户确认时间功能
  src/api/openapi.json
  src/lib/api.ts
Due: eslint --fix, prettier --write

feat(account): 完善预约详情页面状态管理和用户交互功能
  src/components/account/dashboard/DashboardBookingCard.tsx
  src/lib/api.ts
  src/pages/account/BookingDetail.tsx
Due: eslint --fix, prettier --write

feat(http): 添加GET请求去重机制
  src/lib/http.ts
  src/pages/account/BookingDetail.tsx
Due: eslint --fix, prettier --write

feat(booking): 改进支付流程和失败重试功能
  src/components/booking/Step6.tsx
  src/pages/PaymentFail.tsx
Due: none

feat(api): 添加订单编号支持并优化环境配置
  .env.development
  .env.example
  .env.production
  .env.test
  src/components/booking/Step6.tsx
  src/lib/api.ts
  src/pages/account/BookingDetail.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{vue,ts,js}
  prettier --write: (any of: *.{vue,ts,js}) or (any of: *.{css,scss})
