Repository ljcljc/mutopia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 完善登录过期,刷新token失败后的逻辑
  src/lib/http.ts
Due: eslint --fix, prettier --write

fix: 修复Header边距问题
  src/components/auth/authStore.ts
  src/components/layout/Header.tsx
  src/components/layout/HeaderApp.tsx
  src/lib/http.ts
  src/main.tsx
Due: eslint --fix, prettier --write

fix: Booking模块跳转下一步或者返回上一步，都滚动到顶部
  src/components/booking/bookingStore.ts
Due: eslint --fix, prettier --write

feat: 新增autoComplete组件，并替换Breed组件
  src/components/booking/Step2.tsx
  src/components/booking/stepTitles.ts
  src/components/common/AutoComplete.tsx
  src/components/common/index.ts
Due: eslint --fix, prettier --write

fix: customSelect增加displayValue，并将Gender选中值改成displayValue
  src/components/booking/Step2.tsx
  src/components/common/CustomSelect.tsx
Due: none

feat: Coat condition选中Matted或者Severely matted选项，添加弹窗逻辑
  .gitignore
  src/components/booking/Step2.tsx
  src/components/booking/bookingStore.ts
  src/lib/api.ts
Due: eslint --fix, prettier --write

fix：修复图片预览组件放大图片，图片超出弹窗范围的bug，并支持图片鼠标滚轮缩放图片以及拖动图片查看
  src/components/common/ImagePreview.tsx
Due: none

feat：orangeButton添加fontsize设置属性
  src/components/booking/Step4.tsx
  src/components/common/OrangeButton.tsx
Due: none

fix：修复step4中的折扣相关逻辑
  src/components/booking/Step4.tsx
Due: none

fix: 调整日历中year的样式
  src/components/booking/Step5.tsx
  src/components/common/Calendar.tsx
  src/components/common/DatePicker.tsx
Due: none

feat：step5增加最大可选时间段及其相关逻辑
  src/components/booking/Step5.tsx
  src/components/common/Calendar.tsx
Due: none

fix：修复alert打开报错，以及图片预览使用鼠标滚轮缩放失效的bug
  src/components/booking/Step2.tsx
  src/components/common/ImagePreview.tsx
  src/components/layout/HeaderApp.tsx
  src/components/ui/alert-dialog.tsx
Due: none

fix：修复alert文字不换行的bug
  src/components/booking/Step5.tsx
Due: none

booking模块Header做H5适配
  src/components/layout/HeaderApp.tsx
Due: none

fix：修复注册验证码报错bug
  src/components/auth/LoginModalContent.tsx
  src/components/auth/VerifyEmailContainer.tsx
Due: none

feat： booking模块step1适配移动端
  src/assets/icons/icon-home.svg
  src/components/booking/Step1AddressAndServiceType.tsx
  src/components/booking/Step6.tsx
  src/components/booking/bookingStore.ts
  src/components/common/CustomInput.tsx
  src/components/common/CustomRadio.tsx
  src/components/common/Icon.tsx
  src/pages/Booking.tsx
Due: eslint --fix, prettier --write

feat：step2的移动端适配已完成
  src/components/booking/ReferenceStylesUpload.tsx
  src/components/booking/Step2.tsx
  src/components/common/CustomRadio.tsx
  src/components/common/FileUpload.tsx
  src/components/common/ImagePreview.tsx
  src/components/layout/HeaderApp.tsx
  src/styles/globals.css
Due: prettier --write

feat: step3的移动端适配
  src/components/booking/Step3.tsx
  src/components/common/CommonCheckbox.tsx
  src/components/common/CustomRadio.tsx
Due: none

feat: 年份增加左侧切换按钮
  src/components/common/DatePicker.tsx
Due: none

feat: step4的移动端适配
  src/components/booking/Step4.tsx
Due: none

feat：日历年份增加左侧切换按钮
  src/components/common/Calendar.tsx
  src/hooks/useCalendar.ts
Due: eslint --fix, prettier --write

feat: 完成step5移动端适配
  src/components/booking/Step5.tsx
Due: none

feat：添加step6移动端适配
  src/components/booking/Step5.tsx
  src/components/booking/Step6.tsx
Due: none

fix:修复合并bug
  src/components/account/AddressesCard.tsx
  src/components/account/accountStore.ts
Due: eslint --fix, prettier --write

fix: 修复日期选择代码合并丢失bug
  src/components/common/DatePicker.tsx
Due: none

feat：修复step2，月份选择面板适配
  src/components/common/DatePicker.tsx
Due: none

feat:更新api及相关逻辑
  src/api/openapi.json
  src/components/account/accountStore.ts
  src/components/booking/bookingStore.ts
  src/lib/README.md
  src/lib/api.ts
Due: eslint --fix, prettier --write

feat：实现用户头像的上传
  src/components/account/PersonalInfoCard.tsx
  src/hooks/useAvatarUpload.ts
Due: eslint --fix, prettier --write

feat: 联调修改密码功能
  src/components/account/ChangePasswordModal.tsx
  src/lib/http.ts
Due: eslint --fix, prettier --write

feat：联调用户信息修改
  src/components/account/ModifyPersonalInfoModal.tsx
  src/components/common/DatePicker.tsx
Due: none

feat:个人信息修改细节修改
  src/components/account/ModifyPersonalInfoModal.tsx
  src/components/common/DatePicker.tsx
Due: none

feat：完成地址信息的新增功能
  src/components/account/AddAddressModal.tsx
  src/components/account/AddressesCard.tsx
Due: none

feat：隐藏支付方式列表
  src/pages/account/MyAccount.tsx
Due: none

feat: 完成dashboard部分联调
  src/components/account/accountStore.ts
  src/components/account/dashboard/DashboardBookingCard.tsx
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/components/account/dashboard/DashboardMembershipCard.tsx
  src/components/account/dashboard/DashboardMyCreditCard.tsx
  src/components/account/dashboard/DashboardMyPetsCard.tsx
  src/components/account/dashboard/DashboardShareAndEarnCard.tsx
  src/pages/account/Dashboard.tsx
Due: eslint --fix, prettier --write

feat： dashboard联调，实现booking、My pets两个模块联调
  src/assets/icons/icon-alert-info.svg
  src/components/account/AddAddressModal.tsx
  src/components/account/dashboard/DashboardMyCreditCard.tsx
  src/components/booking/Step1AddressAndServiceType.tsx
  src/components/booking/Step2.tsx
Due: none

feat:添加静态的booking detail
  src/components/account/dashboard/DashboardBookingCard.tsx
  src/pages/account/BookingDetail.tsx
  src/router/index.tsx
Due: none

feat：完善booking Detail页面
  src/pages/account/BookingDetail.tsx
Due: none

fix：修复step2中pc样式
  src/components/booking/Step2.tsx
Due: none

stash
  src/components/booking/Step2.tsx
Due: none

feat: 添加add pet页面
  src/components/account/dashboard/DashboardMyPetsCard.tsx
  src/components/common/PetForm.tsx
  src/components/common/index.ts
  src/components/layout/AccountLayout.tsx
  src/components/layout/AccountSidebar.tsx
  src/lib/api.ts
  src/pages/account/AddPet.tsx
  src/router/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{vue,ts,js}
  prettier --write: (any of: *.{vue,ts,js}) or (any of: *.{css,scss})
