Repository ljcljc/mutopia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat:对接my pets模块
  src/pages/account/BookingDetail.tsx
  src/pages/account/Dashboard.tsx
  src/pages/account/MyAccount.tsx
  src/pages/account/MyPets.tsx
  src/pages/account/Notifications.tsx
Due: none

feat：更新api
  src/api/openapi.json
  src/lib/README.md
  src/lib/api.ts
Due: eslint --fix, prettier --write

feat: 修改个人中心部分功能
  src/components/account/MembershipCard.tsx
  src/components/account/accountStore.ts
  src/components/account/dashboard/DashboardMyCreditCard.tsx
  src/components/common/PetForm.tsx
  src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write

feat: 调整My credit模块细节
  src/components/account/dashboard/DashboardMyCreditCard.tsx
Due: none

dashboard点击my pets中条目，跳转到my pets模块中的编辑页面
  src/components/account/dashboard/DashboardMyPetsCard.tsx
  src/pages/account/MyPets.tsx
Due: none

feat: 对接message列表以及Memorialized pets
  src/api/openapi.json
  src/assets/icons/icon-notification-confirmed.svg
  src/assets/icons/icon-notification-empty.svg
  src/assets/icons/icon-notification-refer.svg
  src/assets/icons/icon-notification-refund.svg
  src/assets/icons/icon-notification-reminder.svg
  src/components/account/accountStore.ts
  src/components/account/dashboard/DashboardMyPetsCard.tsx
  src/components/common/CustomTextarea.tsx
  src/components/common/Icon.tsx
  src/components/common/OrangeButton.tsx
  src/lib/api.ts
  src/pages/account/MemorializedPets.tsx
  src/pages/account/Notifications.tsx
  src/router/index.tsx
Due: eslint --fix, prettier --write

feat：pet编辑修改
  src/components/common/PetForm.tsx
  src/components/layout/AccountSidebar.tsx
  src/pages/account/MyPets.tsx
Due: none

feat：更新bookingDetail中地址相关功能
  src/components/account/AddAddressModal.tsx
  src/components/account/AddressesCard.tsx
  src/components/account/ModifyAddressModal.tsx
  src/pages/account/BookingDetail.tsx
Due: none

feat:更新Header
  src/components/auth/LoginModal.tsx
  src/components/auth/LoginModalContent.tsx
  src/components/layout/AccountDropdown.tsx
  src/components/layout/Header.tsx
  src/components/layout/HeaderApp.tsx
  src/components/layout/NotificationsPopover.tsx
Due: none

feat：Notification页面，添加删除消息功能
  src/api/openapi.json
  src/lib/api.ts
  src/pages/account/Notifications.tsx
Due: eslint --fix, prettier --write

feat: 对booking的支付成功和失败页面进行移动端适配
  src/components/common/PurpleButton.tsx
  src/pages/PaymentFail.tsx
  src/pages/PaymentSuccess.tsx
Due: none

fix: 修复ts报错
  src/components/account/PageHeader.tsx
  src/components/account/PaymentMethodCard.tsx
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/components/common/PetForm.tsx
  src/components/ui/sidebar.tsx
  src/pages/account/BookingDetail.tsx
  src/pages/account/MemorializedPets.tsx
  src/pages/account/MyAccount.tsx
  src/pages/account/Notifications.tsx
Due: none

feat：更新vite配置
  vite.config.ts
Due: eslint --fix, prettier --write

feat：Header中也使用AccountDropdown和NotificationsPopover组件
  src/components/layout/Header.tsx
Due: none

fix: 添加useLogout
  src/components/layout/Header.tsx
Due: none

feat: AccountDropdown对dashboard添加高亮
  src/components/layout/AccountDropdown.tsx
Due: none

feat：个人中心，book for petName按钮点击后，将宠物信息带入booking表单
  src/pages/account/MyPets.tsx
Due: none

feat: 注册添加邀请码和手机号
  src/components/auth/LoginModalContainers.tsx
  src/components/auth/LoginModalContent.tsx
  src/components/auth/authSchemas.ts
  src/components/auth/authStore.ts
  src/lib/api.ts
Due: eslint --fix, prettier --write

feat: 返回 MyPets 时清掉 booking 的 step2 预填数据
  src/pages/account/MyPets.tsx
Due: none

feat: step2中pet name支持选择宠物
  src/components/booking/Step2.tsx
  src/components/booking/bookingStore.ts
  src/components/common/PetForm.tsx
Due: eslint --fix, prettier --write

feat：支付成功和失败页面修改
  src/pages/PaymentFail.tsx
  src/pages/PaymentSuccess.tsx
Due: none

feat: 修改Special instruments or notes样式
  src/components/common/PetForm.tsx
Due: none

feat: 修改teminal中提示
  pnpm-workspace.yaml
Due: none

feat：图片预览支持鼠标滚轮缩放
  src/components/common/ImagePreview.tsx
Due: none

feat: Update Step5 component to set minimum booking date to one week from today and improve calendar styling
  src/components/booking/Step5.tsx
Due: none

fix: Update sidebar menu button styles to apply color only when not active
  src/styles/globals.css
Due: prettier --write

feat: Enhance pet navigation by adding state to the "Add Pet" button and implementing a dropdown for pet selection in MyPets
  src/components/account/dashboard/DashboardMyPetsCard.tsx
  src/pages/account/AddPet.tsx
  src/pages/account/MyPets.tsx
Due: none

refactor: Remove unused "Select" option from gender dropdown in PetForm component
  src/components/common/PetForm.tsx
Due: none

feat: Enhance navigation logic in AddPet component to redirect based on previous location
  src/pages/account/AddPet.tsx
Due: none

feat: Add caching and promise handling for fetching pets and upcoming bookings in account store
  src/components/account/accountStore.ts
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/pages/account/MyPets.tsx
  src/pages/account/Notifications.tsx
Due: eslint --fix, prettier --write

fix: Update pet selection logic to allow dropdown with three or more pets and improve select component styling
  src/components/ui/select.tsx
  src/pages/account/MyPets.tsx
Due: none

feat: Add smooth scrolling functionality to "View Services" button in Hero component
  src/components/landing/Hero.tsx
Due: none

feat: Enhance NotificationsPopover with navigation to notifications page and update icon in Notifications component
  src/components/layout/NotificationsPopover.tsx
  src/pages/account/Notifications.tsx
Due: none

feat: Add selected pet ID to booking state for improved data handling
  src/components/booking/bookingStore.ts
Due: eslint --fix, prettier --write

feat: Enhance FileUpload and PetForm components with detailed debug logging and improve photo handling logic
  src/components/common/FileUpload.tsx
  src/components/common/PetForm.tsx
  src/pages/account/MyPets.tsx
Due: none

feat: Implement photo upload functionality in MyPets component, including handling for pet and reference photos, and improved state management for photo uploads
  src/pages/account/MyPets.tsx
Due: none

fix: Remove unnecessary z-index from MyPets component layout for improved styling consistency
  src/pages/account/MyPets.tsx
Due: none

feat: Add mobile user summary and update logout functionality in Header component
  src/components/layout/Header.tsx
Due: none

refactor: Update MyPets component layout to use flexbox for better responsiveness and remove unused fields for cleaner display
  src/pages/account/MyPets.tsx
Due: none

feat(移动端): 添加底部导航栏并优化移动端布局
  src/assets/icons/icon-more.svg
  src/components/common/FileUpload.tsx
  src/components/common/Icon.tsx
  src/components/common/PetForm.tsx
  src/components/layout/AccountBottomNav.tsx
  src/components/layout/AccountLayout.tsx
  src/pages/account/MyPets.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{vue,ts,js}
  prettier --write: (any of: *.{vue,ts,js}) or (any of: *.{css,scss})
