Repository ljcljc/mutopia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{vue,ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

feat: 更新google social login
  .gitignore
  PRETTIER.md
  PROXY.md
  src/components/auth/LoginModalContent.tsx
  src/lib/api.ts
  src/lib/googleAuth.ts
  src/lib/http.ts
Due: eslint --fix, prettier --write

feat: 更新google social login
  src/lib/api.ts
  src/lib/googleAuth.ts
  src/lib/http.ts
Due: eslint --fix, prettier --write

feat: 更新正式环境变量
  .env.production
  src/lib/http.ts
Due: eslint --fix, prettier --write

feat: 更新正式环境变量
  src/lib/http.ts
Due: eslint --fix, prettier --write

feat: 更新正式环境变量
  .env.production
Due: none

feat: landing page中的Contact模块从FAQ中,独立出来,并添加接口调用
  src/App.tsx
  src/components/auth/LoginModalContent.tsx
  src/components/landing/Contact.tsx
  src/components/landing/FAQ.tsx
Due: none

feat: header中增加logout功能
  src/components/Header.tsx
  src/components/landing/WhyUs.tsx
Due: none

feat: 调整footerbar细节
  src/components/landing/Footer.tsx
Due: none

feat: 调整Forgot password细节
  src/api/openapi.json
  src/assets/icons/icon-alert-warning.svg
  src/components/auth/ForgotPasswordContainer.tsx
  src/components/auth/LoginModalContent.tsx
  src/lib/api.ts
  src/lib/facebookAuth.ts
  src/lib/googleAuth.ts
Due: eslint --fix, prettier --write

feat: 调整Forgot password细节
  src/components/auth/LoginModalContent.tsx
Due: none

feat: 调整Verify your email弹窗细节
  src/components/auth/VerifyEmailContainer.tsx
Due: none

feat: 添加路由,修改项目结构
  package.json
  src/App.tsx
  src/assets/icons/icon-chevron-down.svg
  src/assets/icons/icon-nav-next.svg
  src/assets/icons/icon-nav-prev.svg
  src/components/HeaderApp.tsx
  src/components/Layout.tsx
  src/components/common/DatePicker.tsx
  src/components/landing/Footer.tsx
  src/components/landing/Hero.tsx
  src/components/landing/WhyUs.tsx
  src/main.tsx
  src/pages/Booking.tsx
  src/pages/Home.tsx
  src/router/index.tsx
Due: none

feat: 重构svg图标模块
  package.json
  src/assets/icons/icon-button-arrow-primary.svg
  src/assets/icons/icon-button-arrow-secondary.svg
  src/assets/icons/icon-button-arrow.svg
  src/assets/icons/icon-continue-arrow.svg
  src/components/Header.tsx
  src/components/HeaderApp.tsx
  src/components/auth/ForgotPasswordContainer.tsx
  src/components/auth/LoginModalContainers.tsx
  src/components/auth/LoginModalContent.tsx
  src/components/auth/LoginModalForms.tsx
  src/components/auth/LoginModalUI.tsx
  src/components/auth/VerifyEmailContainer.tsx
  src/components/common/DatePicker.tsx
  src/components/common/Icon.example.tsx
  src/components/common/Icon.tsx
  src/components/landing/Services.tsx
  src/components/landing/WhyUs.tsx
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: svg在页面中替换
  src/assets/icons/icon-bath-brush.svg
  src/assets/icons/icon-certified-professionals.svg
  src/assets/icons/icon-chevron-down.svg
  src/assets/icons/icon-clock.svg
  src/assets/icons/icon-close-arrow.svg
  src/assets/icons/icon-convenient-scheduling.svg
  src/assets/icons/icon-easy-booking.svg
  src/assets/icons/icon-email.svg
  src/assets/icons/icon-express-groom.svg
  src/assets/icons/icon-facebook-alt.svg
  src/assets/icons/icon-full-grooming.svg
  src/assets/icons/icon-instagram.svg
  src/assets/icons/icon-location.svg
  src/assets/icons/icon-menu.svg
  src/assets/icons/icon-nav-next.svg
  src/assets/icons/icon-nav-prev.svg
  src/assets/icons/icon-notify.svg
  src/assets/icons/icon-personalized-care.svg
  src/assets/icons/icon-pet-friendly.svg
  src/assets/icons/icon-premium-quality.svg
  src/assets/icons/icon-professional-service.svg
  src/assets/icons/icon-real-time-updates.svg
  src/assets/icons/icon-social-1.svg
  src/assets/icons/icon-social-2.svg
  src/assets/icons/icon-social-3.svg
  src/assets/icons/icon-stress-free-experience.svg
  src/assets/icons/icon-twitter.svg
  src/assets/icons/icon-user.svg
  src/components/Header.tsx
  src/components/HeaderApp.tsx
  src/components/auth/LoginModalUI.tsx
  src/components/common/DatePicker.tsx
  src/components/common/Icon.tsx
  src/components/landing/Footer.tsx
  src/components/landing/Hero.tsx
  src/components/landing/Services.tsx
  src/components/landing/WhyUs.tsx
Due: none

fix: 首页细节bug修复
  src/components/Header.tsx
  src/components/common/CustomAccordion.tsx
Due: none

refactor: 字体从本地加载
  .gitignore
  index.html
  package.json
  public/_headers
  public/fonts/comfortaa-bold.ttf
  public/fonts/comfortaa-medium.ttf
  public/fonts/comfortaa-regular.ttf
  public/fonts/comfortaa-semibold.ttf
  src/styles/globals.css
Due: prettier --write

fix: 修复icon颜色以及Accordion组件细节调整
  src/components/common/CustomAccordion.tsx
  src/components/landing/WhyUs.tsx
Due: none

feat: 项目目录重构,以及css样式消除提示,以及去除Booking入库
  src/components/common/OrangeButton.tsx
  src/components/landing/Hero.tsx
  src/components/landing/Services.tsx
  src/components/landing/WhyUs.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/HeaderApp.tsx
  src/components/layout/Layout.tsx
  src/router/index.tsx
Due: none

feat: 添加Booking页面跳转入库
  src/components/landing/Hero.tsx
  src/components/landing/Services.tsx
Due: none

feat: booking添加Step1
  src/assets/icons/icon-alert-info.svg
  src/components/booking/Steps.tsx
  src/components/common/Icon.tsx
  src/components/layout/Layout.tsx
  src/pages/Booking.tsx
Due: none

feat: 完成步骤1
  src/assets/icons/icon-shop.svg
  src/assets/icons/icon-van.svg
  src/components/booking/ProgressSteps.tsx
  src/components/booking/Step1AddressAndServiceType.tsx
  src/components/booking/Step2.tsx
  src/components/booking/Step3.tsx
  src/components/booking/Step4.tsx
  src/components/booking/Step5.tsx
  src/components/booking/Step6.tsx
  src/components/booking/bookingStore.ts
  src/components/booking/stepTitles.ts
  src/components/common/Icon.tsx
  src/pages/Booking.tsx
Due: eslint --fix, prettier --write

feat: 修改Steps文件名
  src/pages/Booking.tsx
Due: none

feat: 优化Step2中组件
  src/assets/icons/icon-cat.svg
  src/assets/icons/icon-dog.svg
  src/assets/icons/icon-pet.svg
  src/assets/icons/icon-search.svg
  src/components/booking/Step2.tsx
  src/components/booking/bookingStore.ts
  src/components/booking/stepTitles.ts
  src/components/common/CustomSelect.tsx
  src/components/common/Icon.tsx
  src/components/common/index.ts
  src/components/ui/switch.tsx
  src/pages/Booking.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

feat: 抽取CustomRadio组件,并替换
  src/components/booking/Step1AddressAndServiceType.tsx
  src/components/booking/Step2.tsx
  src/components/common/CustomRadio.tsx
  src/components/common/index.ts
Due: eslint --fix, prettier --write

feat: 完成Steps2细节
  package.json
  src/assets/icons/icon-add.svg
  src/assets/icons/icon-image.svg
  src/components/booking/ReferenceStylesUpload.tsx
  src/components/booking/Step2.tsx
  src/components/booking/bookingStore.ts
  src/components/common/CustomTextarea.tsx
  src/components/common/DatePicker.tsx
  src/components/common/FileUpload.tsx
  src/components/common/Icon.tsx
  src/components/common/index.ts
  src/hooks/useFileUpload.ts
Due: eslint --fix, prettier --write

feat: Step3完成部分
  src/components/booking/Step3.tsx
  src/components/booking/bookingStore.ts
  src/components/common/CustomRadio.tsx
Due: eslint --fix, prettier --write

feat: 抽离CommonCheckbox
  src/components/booking/ProgressSteps.tsx
  src/components/booking/Step2.tsx
  src/components/booking/Step3.tsx
  src/components/common/CommonCheckbox.tsx
  src/components/common/index.ts
  src/pages/Booking.tsx
Due: eslint --fix, prettier --write

feat: 更新services模块UI
  public/_headers.example
  src/assets/icons/icon-star.svg
  src/components/common/Icon.tsx
  src/components/landing/Services.tsx
Due: none

feat: 更新Membership Packages模块UI
  src/components/landing/Packages.tsx
  src/components/landing/Services.tsx
Due: none

feat: 修改dataPicker,新增月份选择
  src/components/common/DatePicker.tsx
Due: none

feat: 修复dataPicker样式警告
  src/components/common/DatePicker.tsx
Due: none

feat: 联调Step1/Step2
  src/assets/icons/icon-trash.svg
  src/components/booking/ReferenceStylesUpload.tsx
  src/components/booking/Step2.tsx
  src/components/booking/bookingStore.ts
  src/components/common/CustomSelect.tsx
  src/components/common/FileUpload.tsx
  src/components/common/Icon.tsx
  src/components/common/ImagePreview.tsx
  src/lib/api.ts
Due: eslint --fix, prettier --write

feat: 联调Step3中的Select your service package
  src/components/booking/Step3.tsx
  src/components/booking/bookingStore.ts
Due: eslint --fix, prettier --write

feat: 完成图片上传组件以及预览组件
  package.json
  src/assets/icons/icon-check.svg
  src/assets/icons/icon-zoom-in.svg
  src/assets/icons/icon-zoom-out.svg
  src/components/booking/ReferenceStylesUpload.tsx
  src/components/booking/Step2.tsx
  src/components/common/FileUpload.tsx
  src/components/common/Icon.tsx
  src/components/common/ImagePreview.tsx
Due: none

feat: 联调Step3以及修复个人信息接口被多处监听,多次调用的优化
  src/api/openapi.json
  src/components/auth/LoginModalContent.tsx
  src/components/auth/authStore.ts
  src/components/booking/Step3.tsx
  src/components/booking/bookingStore.ts
  src/components/layout/HeaderApp.tsx
  src/lib/api.ts
  src/pages/Booking.tsx
Due: eslint --fix, prettier --write

feat: 修复Hero中图片预加载警告
  index.html
  src/components/landing/Hero.tsx
Due: none

feat: step3名称修改
  src/components/booking/Step3.tsx
  src/components/booking/stepTitles.ts
  src/pages/Booking.tsx
Due: eslint --fix, prettier --write

feat: 修正packages会员卡片样式
  src/assets/icons/icon-check-green.svg
  src/assets/icons/svg-zb4ynfxey2.ts
  src/components/common/Icon.tsx
  src/components/common/index.ts
  src/components/landing/Packages.tsx
Due: eslint --fix, prettier --write

feat: 完成step4静态页面内容修改
  src/components/booking/Step4.tsx
  src/components/common/MembershipCard.tsx
  src/components/common/index.ts
  src/components/landing/Packages.tsx
Due: eslint --fix, prettier --write

feat: 联调memberShip卡片接口
  src/components/booking/Step4.tsx
  src/components/booking/bookingStore.ts
  src/lib/api.ts
Due: eslint --fix, prettier --write
