Repository ljcljc/mutopia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 添加时间选择验证逻辑，确保用户选择可用时间后才能提交
  src/modules/groomer/components/ProposeNewTimeModal.test.tsx
  src/modules/groomer/components/ProposeNewTimeModal.tsx
Due: none

feat: 在取消按钮下方添加个性化护理按钮，优化用户操作流程
  src/pages/account/BookingDetail.tsx
Due: none

feat: 优化健康信息提交流程，重构跳过临床步骤的逻辑并确保页面滚动到顶部
  src/pages/account/BookingHealthInfo.test.tsx
  src/pages/account/BookingHealthInfo.tsx
Due: none

feat: 优化健康信息步骤，重构跳过临床步骤的逻辑并增强按钮样式
  src/pages/account/BookingHealthInfo.tsx
  src/pages/account/booking-health/components/QuestionnairePrimitives.tsx
  src/pages/account/booking-health/steps/ClinicalHistoryStep.tsx
  src/pages/account/booking-health/steps/LifestyleEnvironmentStep.tsx
  src/pages/account/booking-health/steps/PreventionCoreNeedsStep.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 添加健康问卷状态检查，优化确认按钮显示逻辑
  src/pages/account/BookingDetail.tsx
Due: none

feat: 更新状态徽章组件，添加健康报告待处理状态，优化预定状态逻辑
  src/components/account/dashboard/DashboardBookingCard.tsx
  src/components/account/dashboard/DashboardHeroCard.test.tsx
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/components/account/dashboard/dashboardBookingUtils.test.ts
  src/components/account/dashboard/dashboardBookingUtils.tsx
Due: eslint --fix, prettier --write

feat: 添加待处理报告状态，优化仪表板显示逻辑
  src/modules/groomer/groomerStore.ts
  src/modules/groomer/pages/GroomerDashboardPage.tsx
Due: eslint --fix, prettier --write

feat: 添加加载卡片组件以优化健康报告加载体验
  src/modules/groomer/components/PhotoHealthBookingPetCard.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 引入 PageLoadingCard 组件，替换多个页面的加载状态卡片
  src/modules/groomer/components/PageLoadingCard.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/modules/groomer/pages/GroomerEarningsPage.tsx
  src/modules/groomer/pages/GroomerMyWorkPage.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
  src/modules/groomer/pages/GroomerTransactionsPage.tsx
Due: none

feat: 更新宠物名称显示样式，增强可读性
  src/modules/groomer/pages/GroomerDashboardPage.tsx
Due: none

feat: 更新上传按钮样式，添加悬停效果以提升用户体验
  src/modules/groomer/components/InspectionAreaSection.tsx
Due: none

feat: 优化图片上传处理，确保本地缩略图在上传过程中保持可用
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 优化单张照片时的手势处理，确保不暴露照片导航功能
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
Due: none

feat: 添加媒体查询以防止移动页面内容的长按文本选择和复制
  src/styles/globals.css
Due: prettier --write

feat: 更新AI扫描描述的星号样式，增强视觉提示
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
Due: none

feat: 允许第5步姿势照片不需要AI扫描描述
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 更新第6步的笔记字段显示逻辑，移除对整体专业印象的依赖
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 更新第6步的笔记和评分逻辑，确保在显示笔记前需要评分
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 更新第6步逻辑，将下一阶段从“笔记”改为“印象”
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 添加不完整健康报告对话框，确认离开已填写步骤的处理逻辑
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 更新健康检查页面逻辑，要求填写美容师备注并跳过未确认照片审核
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 添加主题颜色支持，更新相关布局组件和全局样式
  src/components/layout/AccountLayout.tsx
  src/components/layout/BaseAccountLayoutShell.tsx
  src/modules/groomer/layout/GroomerLayout.tsx
  src/styles/globals.css
Due: prettier --write

feat: 添加AI推荐信息到健康报告草稿，更新加载屏幕文本
  src/lib/api.ts
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 更新健康报告发布逻辑，添加等待生成报告的处理，优化相关组件显示
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/pages/GroomerDashboardPage.test.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 移除最终支付会话相关代码，更新支付管理文档，优化已完成服务卡片逻辑
  src/api/openapi.json
  src/lib/README.md
  src/lib/api.ts
  src/modules/groomer/pages/GroomerDashboardPage.test.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
Due: eslint --fix, prettier --write

feat: 移除所有相关的最终支付状态，简化预约状态逻辑
  src/components/account/dashboard/dashboardBookingUtils.tsx
  src/modules/groomer/components/PhotoHealthBookingPetCard.tsx
  src/modules/groomer/groomerStore.ts
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/pages/account/BookingHealthInfo.tsx
Due: eslint --fix, prettier --write

feat: 添加 hero_stage 和 tip_status 字段到预订接口，更新相关组件以支持新状态
  src/api/openapi.json
  src/components/account/dashboard/DashboardBookingCard.tsx
  src/components/account/dashboard/DashboardHeroCard.test.tsx
  src/components/account/dashboard/DashboardHeroCard.tsx
  src/components/account/dashboard/dashboardBookingUtils.tsx
  src/lib/api.ts
  src/modules/groomer/pages/GroomerDashboardPage.test.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/pages/account/BookingDetail.test.tsx
  src/pages/account/BookingDetail.tsx
Due: eslint --fix, prettier --write

feat: 优化代码格式，提升可读性，调整函数参数和返回值的排版
  src/pages/account/BookingHealthInfo.tsx
Due: none

feat: 添加宠物主人投诉接口和相关功能，支持用户提交投诉
  src/lib/api.ts
  src/pages/account/BookingDetail.tsx
Due: eslint --fix, prettier --write

feat: support pending report tip decisions
  src/lib/api.ts
  src/pages/account/BookingDetail.test.tsx
  src/pages/account/BookingDetail.tsx
Due: eslint --fix, prettier --write

feat: 更新 GroomerCheckUpCheckout 接口，添加服务ID和附加数量字段，优化预约详情显示
  src/api/openapi.json
  src/lib/api.ts
  src/modules/groomer/pages/GroomerDashboardPage.test.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/pages/account/BookingDetail.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{vue,ts,js}
  prettier --write: (any of: *.{vue,ts,js}) or (any of: *.{css,scss})
