Repository ljcljc/mutopia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 添加健康检查相关图标，更新文件上传组件样式，优化检查区域和照片审核功能
  src/assets/icons/icon-add-inspection.svg
  src/assets/icons/icon-alert-ai-scan.svg
  src/components/common/FileUpload.tsx
  src/components/common/Icon.tsx
  src/modules/groomer/components/InspectionAreaSection.test.tsx
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/modules/groomer/components/InspectionTagGroup.test.tsx
  src/modules/groomer/components/InspectionTagGroup.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat(InspectionTagGroup): 增强标签组组件，添加拖动功能和优化点击处理
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/modules/groomer/components/InspectionTagGroup.test.tsx
  src/modules/groomer/components/InspectionTagGroup.tsx
Due: none

feat(FileUpload): 优化健康检查布局，调整样式以提升用户体验
  src/components/common/FileUpload.tsx
Due: none

feat: enhance inspection area section with ear and mouth photo uploads
  src/components/common/FileUpload.tsx
  src/hooks/useFileUpload.ts
  src/modules/groomer/components/InspectionAreaSection.test.tsx
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

Refactor code structure for improved readability and maintainability
  src/api/openapi.json
  src/lib/api.ts
  src/modules/groomer/components/InspectionAreaSection.test.tsx
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/modules/groomer/components/InspectionTagGroup.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 更新健康报告相关功能，添加PDF生成状态，优化报告预览和发布逻辑
  src/api/openapi.json
  src/lib/api.ts
  src/modules/groomer/components/PhotoHealthReportReview.test.tsx
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/groomerStore.ts
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 添加照片健康检查提交功能，更新接口和页面逻辑以支持新数据结构
  src/api/openapi.json
  src/lib/api.ts
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 添加照片健康检查和健康报告组件，优化相关逻辑和测试用例
  src/modules/groomer/components/PhotoHealthBookingPetCard.tsx
  src/modules/groomer/components/PhotoHealthOverview.test.tsx
  src/modules/groomer/components/PhotoHealthOverview.tsx
  src/modules/groomer/components/PhotoHealthReportReview.test.tsx
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: add new wellness and AI insights icons, update Icon component and related files
  src/assets/icons/icon-groomer-ai-insights-edit.svg
  src/assets/icons/icon-groomer-ai-insights.svg
  src/assets/icons/icon-submit-ai-health-report.svg
  src/assets/icons/icon-wellness-ear.svg
  src/assets/icons/icon-wellness-eye.svg
  src/assets/icons/icon-wellness-mobility.svg
  src/assets/icons/icon-wellness-mouth.svg
  src/assets/icons/icon-wellness-skin.svg
  src/components/common/Icon.tsx
  src/components/common/ImagePreview.tsx
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/components/WellnessSummaryCard.tsx
Due: none

feat: 更新健康检查页面逻辑，添加本地草稿持久化功能，优化状态管理
  CONTEXT.md
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 添加健康报告草稿和已发布报告的定义，优化PDF生成失败时的重试逻辑
  CONTEXT.md
  src/modules/groomer/components/PhotoHealthReportReview.test.tsx
  src/modules/groomer/components/PhotoHealthReportReview.tsx
Due: none

feat: 更新按钮文本以更准确地反映功能，修改编辑和提交报告的标签
  src/modules/groomer/components/PhotoHealthReportReview.test.tsx
  src/modules/groomer/components/PhotoHealthReportReview.tsx
Due: none

feat: 添加获取美容师健康详情头像的函数，并更新相关逻辑
  src/modules/groomer/pages/GroomerHealthDetailsPage.test.tsx
  src/modules/groomer/pages/GroomerHealthDetailsPage.tsx
Due: none

feat: 更新视口元标签以限制缩放和提高响应性
  index.html
Due: none

feat: 重构PDF预览功能，添加PdfPreviewDialog组件并更新相关逻辑
  src/components/common/PdfDocumentViewer.tsx
  src/components/common/PdfPreviewDialog.tsx
  src/components/common/index.ts
  src/components/common/usePdfPreview.ts
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/pages/GroomerHealthDetailsPage.test.tsx
  src/modules/groomer/pages/GroomerHealthDetailsPage.tsx
  src/pages/account/MyPets.tsx
Due: eslint --fix, prettier --write

feat: 更新GroomerHealthDetailsPage组件样式，添加边框以增强视觉效果
  src/modules/groomer/pages/GroomerHealthDetailsPage.tsx
Due: none

feat: 简化地址和服务类型选择逻辑，移除门店相关功能
  src/components/account/AddAddressModal.tsx
  src/components/booking/Step1AddressAndServiceType.tsx
Due: none

feat: 添加健康报告部分组件，重构PDF预览逻辑以支持信号中止
  src/components/common/HealthReportSection.tsx
  src/components/common/PdfPreviewDialog.tsx
  src/components/common/index.ts
  src/components/common/usePdfPreview.ts
  src/components/ui/use-mobile.ts
  src/lib/api.ts
  src/lib/healthReportPdfCache.ts
  src/lib/http.ts
  src/modules/groomer/components/PhotoHealthReportReview.tsx
  src/modules/groomer/pages/GroomerHealthDetailsPage.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
  src/pages/account/MyPets.test.tsx
  src/pages/account/MyPets.tsx
Due: eslint --fix, prettier --write

feat: 添加获取之前美容师备注的功能，重构相关逻辑以提升用户体验
  src/modules/groomer/pages/GroomerHealthDetailsPage.tsx
Due: none

Refactor code structure for improved readability and maintainability
  src/modules/groomer/groomerStore.ts
  src/modules/groomer/pages/GroomerDashboardPage.tsx
Due: eslint --fix, prettier --write

feat: 添加移动端支持，重构图片预览对话框样式，移除不必要的动画
  src/components/common/ImagePreview.tsx
  src/styles/globals.css
Due: prettier --write

feat: 添加文件上传组件的预览文件名逻辑，支持删除当前预览图片功能
  src/components/common/FileUpload.tsx
  src/components/common/ImagePreview.tsx
Due: none

feat: 更新行为标签逻辑，调整注意事项显示条件，优化组件渲染
  src/modules/groomer/components/PhotoHealthBookingPetCard.tsx
  src/modules/groomer/components/PhotoHealthOverview.test.tsx
  src/modules/groomer/components/PhotoHealthOverview.tsx
Due: none

feat: 更新皮肤区域照片上传逻辑，限制最多上传两张照片并优化按钮显示
  src/modules/groomer/components/InspectionAreaSection.test.tsx
  src/modules/groomer/components/InspectionAreaSection.tsx
Due: none

feat: Enhance file upload functionality with progress tracking and error handling; update inspection area component to manage upload states
  src/components/common/FileUpload.tsx
  src/lib/api.ts
  src/modules/groomer/components/InspectionAreaSection.test.tsx
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 添加图片压缩功能，优化照片上传流程，支持临时照片ID生成
  package.json
  src/lib/imageCompression.ts
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 添加图片压缩阶段状态，优化上传过程中的用户反馈
  src/components/common/FileUpload.tsx
  src/lib/imageCompression.ts
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 更新文件上传和删除功能，支持删除状态和反馈，优化图片预览生成逻辑
  src/components/common/FileUpload.tsx
  src/lib/imageCompression.ts
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 添加照片切换功能，优化照片预览动画效果，更新服务状态为待报告
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/modules/groomer/groomerStore.ts
  src/modules/groomer/pages/GroomerDashboardPage.test.tsx
  src/modules/groomer/pages/GroomerDashboardPage.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

feat: 更新照片审查组件，优化拖动面板与图像视口高度的联动效果，增强用户体验
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
Due: none

feat: 添加照片轮播功能，优化照片切换动画效果，移除旧的动画样式
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/styles/globals.css
Due: prettier --write

feat: 添加健康报告互动卡片，支持回复客户评论，优化用户反馈流程
  src/modules/groomer/groomerStore.ts
  src/modules/groomer/pages/GroomerDashboardPage.tsx
Due: eslint --fix, prettier --write

feat: 更新健康检查页面，替换上传图标为SVG组件，优化图标显示
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 更新当前预订接口，增强健康报告交互信息，支持报告等待审核或回复
  src/api/openapi.json
  src/lib/api.ts
Due: eslint --fix, prettier --write

feat: 移除未使用的手势变量，优化代码整洁性
  src/modules/groomer/components/InspectionPhotoReview.tsx
Due: none

feat: 优化照片上传逻辑，移除不必要的预览URL处理
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 更新照片上传状态，支持不确定进度的动画效果，优化用户体验
  src/modules/groomer/components/InspectionAreaSection.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
  src/styles/globals.css
Due: prettier --write

feat: 添加预加载功能以优化照片上传体验，确保预览状态不会被阻塞
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

feat: 添加描述字段到检查照片接口，更新相关逻辑以支持AI扫描照片描述
  src/api/openapi.json
  src/lib/api.ts
  src/modules/groomer/components/InspectionPhotoReview.test.tsx
  src/modules/groomer/components/InspectionPhotoReview.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: eslint --fix, prettier --write

feat: 移除预加载照片的逻辑，优化照片上传处理流程
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.test.tsx
  src/modules/groomer/pages/GroomerPhotoHealthInspectionPage.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{vue,ts,js}
  prettier --write: (any of: *.{vue,ts,js}) or (any of: *.{css,scss})
